@using MakQR.Models.Home
@model HeaderSection
<div class="logo-header">
    <div class="logo-wrap">
        <img src="./images/ChatGPT_Image_Feb_3__2026__12_25_12_PM-removebg-preview.png" asp-append-version="true" alt="Hotel Logo">
        <span class="logo-text">@Model.Title</span>
        <p>@Model.Description</p>
    </div>
</div>