@model MakQR.Models.Home.WhyUsSection
<section class="why-us">
    <div class="why-wraper">
        <div class="why-text">
            <h2>@Model.Title</h2>
            <p>@Model.DescriptionHtml</p>
        </div>
        <div class="why-image">
            <img src="./images/why_us.png" asp-append-version="true" alt="MAK Hotel View">
        </div>
    </div>
</section>
