@using MakQR.Models.Home
@model RoomsSection


<section class="rooms">
    <h2 class="rooms-title">@Model.Title</h2>
    <p class="rooms-subtitle">
        @Model.Subtitle
    </p>

    <div class="rooms-grid">
        <div class="room-img"><img src="./images/room_type_1.png" asp-append-version="true" alt=""></div>
        <div class="room-img"><img src="./images/room_type_2.png" asp-append-version="true" alt=""></div>
        <div class="room-img"><img src="./images/room_type_3.png" asp-append-version="true" alt=""></div>
        <div class="room-img"><img src="./images/room_type_4.png" asp-append-version="true" alt=""></div>
        <div class="room-text">
            <h3>@Model.GridHeading</h3>
            <p>
                @Model.Description
            </p>
        </div>
        <div class="room-img"><img src="./images/room_type_5.png" asp-append-version="true" alt=""></div>
    </div>


</section>

