@model MakQR.Models.Home.AboutSection
<section class="about-section">
    <div class="about-wrapper">
        <div class="about-content">
            <h2>@Model.Title</h2>
            <p>
                @Model.DescriptionHtml
            </p>
        </div>

        <div class="about-image">
            <img src="./images/about_us.png" alt="Hotel Room with Green View">
        </div>
    </div>
</section>
