@model MakQR.Models.Home.EventSection
<section class="event-section">
    <div class="about-wrapper">
        <div class="event-content">
            <h2>@Model.Title</h2>
            <p>
                @Model.DescriptionHtml
            </p>
        </div>
        <div class="event-image">
            <img src="./images/home_event.png" alt="Hotel Room with Green View">
        </div>

    </div>
</section>
